* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent-about {
    margin-left: 15vw;
    width: 85vw;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.about-heading {
    font-weight: 800;
    height: 10vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin-top: 2rem;
}

.about-desc {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    /* border: 2px solid black; */
    padding: 1rem;
    /* height: 50vh; */
    width: 100%;
    background-color: #FAEAF3;
    border-radius: 2rem;
}

.feautures_containers{
    margin: 35px 0;
}

.about-features {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    padding: 1rem;
    /* height: 50vh; */
    width: 100%;
    background-color: #ddddff;
    border-radius: 2rem;
}

.about-features-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    padding: 1rem;
    /* height: 50vh; */
    width: 100%;
    background-color: rgb(247,238,214,1);
    border-radius: 2rem;
}

.image-about-parent {
    width: 50%;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.image-about-top {
    border-radius: 2rem;
    width: 100%;
}

.text-about {
    margin: 1rem;
    width: 50%;
    /* height: 100%; */
    /* border: 2px solid blue; */
    font-size: 1.2rem;
}



.developers-heading {
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    margin: 1rem 1rem 1rem 0;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}

.developer-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* height: 40vh; */
    width: 80%;
    padding: 1rem;
    border-radius: 2rem;
    margin: 1rem;
    background-color: #E8F7FE;
    /* border: 2px solid red; */
}  



.photo-dev {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-about {
    /* width: 100%; */
    width: 50%;
    border-radius: 50%;
}

.name-dev {
    font-weight: 800;
    margin: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

.sm-icons{
    margin: 0rem 0.5rem;
    color: black;
}

.sm-icons:hover{
    color: black;

}

.fa-github,.fa-linkedin-in{
    font-size: 20px;
}

@media screen and (max-width: 1050px) {
    .text-about {
        font-size: 1rem;
    }
}
.features_content{
    display: flex;
    flex-direction: row;
    width: 100%;
}
@media screen and (max-width: 1000px) {
    .developers {
        grid-template-columns: repeat(1, auto);
    }
}

@media screen and (max-width: 900px) {
    .about-desc {
        flex-direction: column;
    }
    
    .features_content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-about {
        width: 100%;
    }
    .about-heading {
        font-size: 1.5rem;
    }
}
