.answer-main{
    height: 100vh;
    width: 80vw;
    margin-left: 20vw;
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem 1.2rem 1.2rem;
}


.answer-status{
    font-weight: 600;
}


.tag-list-ans{
    display: flex;
    align-items: center;
    /* padding: 0rem 1rem; */
}

.q-to-ans{
    display: flex;
    font-size: 25px;
    margin-bottom: 1rem;
}

.q{
    font-weight: 600;
    color: #123E53;
    text-decoration: underline;
}

.q-ques{
    font-weight: 600;
    margin-left: 1rem;
}

.asked{
    font-weight: 500;
}

.btn-hidden {
    border: none;
    background: none;
}