.form-body-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 80vw;
    margin-left: 20vw;
    height: 100vh;
    /* background: url(../StuTea-Login.svg); */
}
.image{
    width: 40%;

}
.form-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 70%;
    width: 60%;
    /* background-color: #FAEAF3; */
    border-radius: 3rem;
}

.form-title{
    padding: 1rem;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
}
.form-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.login-form{
    display: flex;   
    align-items: center;  
    justify-content: center;
    margin: 0.5rem;
    width: 95%;

    width: 100%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
    width: 80%;
}


.form-label{
    margin:0.7rem;
    font-family: 'Kumbh Sans', sans-serif;
    width: 30%;
    text-align: end;
    margin: 0.7rem;

}
.lform-input{
    height: 3rem;
    width: 70%;
}

.form-input{
    padding-left: 0.5rem;
    width: 90%;
    height: 100%;
    
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    
}

.form-button{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-submit-btn{
    border-radius: 16px;
    height: 36px;
    border: none;
    outline: none;
    font-weight: 500;
    background-color: #C65447;
    width:5rem;
    color: white;
    cursor: pointer;
    /* align-self: center; */
}

.form-submit-btn:hover{
    border:1.7px solid #C65447;
    background-color: #fff;
    color: #C65447;
    box-shadow: 6px 6px 10px #e8ebfa;
    font-weight: 600;
}

@media screen and (max-width:850px) {
    .login-form{
        width: 100%;
    }
    .form-head{
        width: 100%;
    }
    .form-label{
        display: none;
    }
    .lform-input{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-input{
        width: 95%;
    }
    
    
}
@media screen and (max-width:426px){
    .image{
        height: 30%;
        display: flex;
        justify-content: flex-end;
        display: none;
    }
    .form-head{
        height: 60%;
        padding: 1rem;
        height: 70%;
    }
    .lform-input{
    
        justify-content: flex-start;
    }

}

@media screen and (max-width:769px) {
    .login-pic{
        width: 55%;
    }
    .form-body-main{
        flex-direction: column;
    }
    .image{
        align-items: center;
        justify-content: center;
        padding-top: 2.5rem;
        height: 40%;
        display: flex;
        width: 100%;
    }
    
}
