*{
    margin: 0;
    padding: 0;
}

.parent-about {
    width: 80vw;
    margin-left: 20vw;
}

.parent-about h1 {
    margin-top: 3rem;
    margin-left: 16rem;
}

.intro-img img {
    height: 15rem;
    border-radius: 1.2rem;
    width: 27rem;
}

.about-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 2rem;
    background-color: #FAEAF3;
    height: 20rem;
}

.intro-right {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    font-size: 18px;
    width: 50%;
    align-items: center;
}

.founder-intro {
    margin-left: 20px;
}
/* .founder-cards {
    display: flex;
    width: 100%;
} */

.founder-intro h2 {
    margin-left: 2.8rem;
}


.founder-cards img {
    height: 150px;
}

.card {
    width: 19rem;
    margin: 1.5rem 1.5rem ;
    padding: 0.4rem 2.5rem;
    background-color: #FAEAF3;
}

.handles-about i {
    margin-left: 4px;
    font-size: 25px;
}
.handles-about a {
    color: black;
    text-decoration: none;
}

@media screen and (max-width:987px){
    .about-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: black;
        margin: 10px 20px;
    }
    
    .intro-right {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        font-size: 20px;
        /* align-items: center;
        justify-content: center; */
    }
}