.big-ques-card-green {
    display: flex;
    flex-direction: column;
    width: 45%;
    /* border: 2px solid blue; */
    background-color: #E8F7FE;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 1.5rem;
}

.big-ques-card-magenta {
    display: flex;
    flex-direction: column;
    width: 45%;
    /* border: 2px solid blue; */
    background-color: #FAEAF3;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 1.5rem;
}

.question-green {
    color: #123E53;
    font-size: 1.2rem;
}

.question-magenta {
    color: #652448;
    font-size: 1.2rem;
}

.tags {
    display: flex;
    padding: 1rem 0;
}

.tag-green {
    border: 1px solid #A6BDC9;
    color: #A6BDC9;
    margin: 0 1rem;
    padding: 0.3rem 1rem;
    border-radius: 5px;
}

.tag-magenta {
    border: 1px solid #CBABBD;
    color: #CBABBD;
    margin: 0 1rem;
    padding: 0.3rem 1rem;
    border-radius: 5px;
}

.details {
    display: flex;
}

.user {
    width: 75%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user-name-ques {
    margin: 0 1rem;
    width: 100%;
}

.name-ques {
    color: #123E53;
    font-size: 1.1rem;
}

.date-ques {
    color: #A6BDC9;
    font-size: 0.7rem;
}

.profile-pic-ques {
    height: 70px;
}
.answer-button-big {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.btn-add {
    height: 60px;
}