* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-main{
    width: 15vw;
    background-color: aqua;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.link-list{
    
}