.dashboard-body{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* width: 100vw; */
}

.dleft,.dmid,.dright{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.dleft{
    width: 20%;
}

.dmid{
    width: 60%;
}

.dright{
    width: 20%;
}

/* for AddQuestion.js */
.addQues{
    width: 10rem;
    background-color: blueviolet;
}