*{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
}

img {
    height: 100px;
}

.intro-content {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    padding: 5rem;
    background: url("../Assets/intro-img.jpg") center center/cover no-repeat;
    opacity: 0.9;
}

.intro-text {
    font-size: 4rem;
    color: rgb(1, 46, 1);
    font-weight: 900;
}

