*{
    margin: 0;
    padding: 0;
}

.intro-content{
    /* border: 2px solid red; */
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    padding: 18px 210px;
    justify-content: center;
    align-items: center;
    height: 500px;
    font-family: 'Ubuntu', sans-serif;
    /* background-image: url("../Assets/1.jpg") ; */
    
    color: black;
}

.intro-content::before {
    content: '';
    background: url("../Assets/1.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    position: absolute;
    height: 600px;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.85;
    z-index: -1;
}

.intro-content h1{
    margin-top: 120px;
    font-size: 85px;
}

.intro-content h2{
    margin-top: 70px;
    font-size: 70px;

}

.features-content{
    /* border: 2px solid black; */
    /* margin-top: 5px; */
    background-color: black;
    color: aliceblue;
    height: 550px;
}
.features-content h1{
    margin-left: 375px;
    padding-top: 25px;

}

.features {
    margin: 34px;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

.class-img img{
    height: 300px;
    border-radius: 30px;
}
.about-content{
    /* border: 2px solid red; */
    /* margin-top: 5px; */
    
    display: flex;
    flex-direction: row;
    padding: 70px 30px;
    justify-content: center;
    align-items: center;
    height: 500px;
    font-family: 'Ubuntu', sans-serif;
    /* background-image: url("../Assets/hihihi.jpg") ;
    background-repeat: no-repeat;
    background-size: cover; */
    background-image: linear-gradient(to left, black , rgb(185, 179, 179));
    background-blend-mode: color-dodge;
    /* background-attachment: fixed; */
    color: aliceblue;
}

.about {
    margin-left: 50px;
    width: 20%;
    font-size: 20px;
}

.about-img img{
    height: 280px;
    margin-top: 20px;
    margin-left: 10px;
}


.impact-content{
    /* border: 2px solid red; */
    /* margin-left: 50px; */
    display: flex;
    flex-direction: column;
    padding: 18px 210px;
    /* justify-content: center; */
    /* align-items: center; */
    height: 500px;
    font-family: 'Ubuntu', sans-serif;
    background-image:url("../Assets/impact.jpg") ;
    /* background-color: brown; */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    color: black;
}

.impact {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    font-size: 22px;
}

.impact h2 {
    font-size: 55px;
}

.credit-content{
    /* border: 2px solid red; */
    /* margin-top: 5px; */
    display: flex;
    flex-direction: row;
    padding: 35px 180px;
    /* justify-content: center; */
    /* align-items: center; */
    height: 500px;
    font-size:x-large;
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../Assets/credit.jpg") ;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    color: black;
    font-size: 22px;
}


.credit {
    margin: 50px 0px;
    margin-left: 20px;
}
.credit h2 {
    font-size: 55px;
}

.credit-img{
    margin: 50px 0px;
}

.contact-content{
    /* border: 2px solid black; */
    /* margin-top: 5px; */
    padding-left: 30px;
    height: 500px;
    background-color: black;
    color: aliceblue;
}

.contact-content h1{
    padding-top: 30px;
    padding-left: 50px;
    font-size: 50px;
}
.contact {
    margin: 34px;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    /* font-size: 50px; */
    
}
.other-contact {
    width: 40%;
    font-size: 20px;

}
.contact-form {
    padding-left: 30px;
}

.form input{
    width: 650px;
    height: 50px;
    margin-top: 10px;
}

.msg input{
    height: 100px;
}

/* img {
    height: 100px;
} */

.checkbox{
    font-size: 20px;
    margin-top: 5px;
}

.submit-button{
    width:6rem;
    /* padding: 1rem 0rem; */
    margin: 0.5rem 0rem;
    border-radius: 16px;
    height: 38px;
    border: none;
    outline: none;
    font-weight: 560;
    /* background-color: #efa933; */
    background-color: #0d7d46;
    color: white;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #fff;
    color: #0d7d46;
}