*{
    margin: 0;
    padding: 0;
}

.parent-landing {
    width: 80vw;
    margin-left: 20vw;
}

.intro-content{
    /* border: 2px solid red; */
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    height: 25rem;
    color: black;
}

.intro-content::before {
    content: '';
    background: url("../Assets/bg1.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    position: absolute;
    margin-left: 20vw;
    height: 25rem;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: -1;
}

.intro-content h1{
    margin-top: 2rem;
    font-size: 5rem;
    font-weight: bold;
    
}

.intro-content h2{
    margin-top: 4rem;
    font-size: 4rem;

}

.features-content{
    width: 100%;
    background-color: #FAEAF3;
    color: black;
    height: 38rem;
}
.features-content h1{
    margin-left: 19rem;
    font-weight: bold;
    padding-top: 1.5rem;

}

.features {
    margin: 3rem;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}

.class-img img{
    height: 20rem;
    border-radius: 2rem;
}
.about-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 7rem 3rem;
    justify-content: center;
    align-items: center;
    height: 25rem;
    background-color: #E8F7FE;
    color: black;
}

.about {
    margin-left: 5rem;
    width: 20vw;
    font-size: 1.25rem;
}

.about-img img{
    height: 18rem;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}


.impact-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 7rem 3rem;
    height: 25rem;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    background-image:url("../Assets/impact.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.impact {
    margin-left: 5rem;
    width: 20vw;
    font-size: 1.25rem;
}

.impact-img img {
    height: 18rem;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

.credit-content{
    display: flex;
    flex-direction: row;
    padding: 7rem 3rem;
    width: 100%;
    height: 25rem;
    justify-content: center;
    align-items: center;
    background-image: url("../Assets/credit.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
}


.credit {
    margin-left: 5rem;
    width: 20vw;
    font-size: 1.25rem;
}

.credit-img img {
    height: 18rem;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}



.contact-content{
    padding-left: 30px;
    width: 100%;
    height: 30rem;
    background-color: #E8F7FE;
    color: black;
}

.contact-content h1{
    padding-top: 2rem;
    padding-left: 2rem;
    font-weight: bold;
}


.contact {
    margin: 2rem;
    display: flex;
}


.other-contact {
    width: 30vw;
    font-size: 1.3rem;

}


.contact-form {
    padding-right: 1rem;
    margin-left: 2rem;
    width: 50vw;
}



.form input{
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
}


.msg input{
    height: 5rem;
}

.checkbox{
    font-size: 1rem;
    margin-top: 0.5rem;
}


.submit-button{
    width: 6rem;
    margin: 0.5rem 0rem;
    border-radius: 2rem;
    height: 2.5rem;
    border: none;
    outline: none;
    font-weight: bold;
    background-color: #FAEAF3;
    color: black;
    font-size: 16px;
}

.submit-button:hover {
    color: magenta;
}