.form-body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.form-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    height: 100vh;
    width: 80%;
}

.form-title{
    padding: 1rem;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
}
.form-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.login-form{
    display: flex;   
    align-items: center;  
    justify-content: center;
    margin: 0.5rem;
    width: 95%;

    width: 100%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
    width: 80%;
}


.form-label{
    margin:0.7rem;
    font-family: 'Kumbh Sans', sans-serif;
    width: 30%;
    text-align: end;
    margin: 0.7rem;

}
.lform-input{
    height: 3rem;
    width: 70%;
}

.form-input{
    padding-left: 0.5rem;
    width: 90%;
    height: 100%;
    
    width: 70%;
}

.form-button{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-submit-btn{
    border-radius: 16px;
    height: 36px;
    border: none;
    outline: none;
    font-weight: 500;
    background-color: #0d7d46;
    width:5rem;
    color: white;
    cursor: pointer;
    /* align-self: center; */
}

.form-submit-btn:hover{
    border:1.7px solid #0d7d46;
    background-color: #ffffff;
    color: #0d7d46;
    box-shadow: 6px 6px 10px #e8ebfa;
    font-weight: 600;
}

@media screen and (max-width:660px) {
    .login-form{
        width: 100%;
    }
    .form-head{
        width: 100%;
    }
    .form-label{
        display: none;
    }
    .lform-input{
        width: 100%;
    }
    .form-input{
        width: 100%;
    }
}

