*{
    margin: 0px;
    padding: 0px;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar-parent{
    display: flex;
    width: 100%;
    align-items: center;
    /* background-color: #e8ebfa; */
    background-color: black;
    position: sticky;
    top: 0;
    /* opacity: 0.9; */
    /* justify-content: center; */
}
.logo-wrapper{
    width:50%;
    padding: 1.2rem 3.7rem;
    
}
.navbar-links{
    /* width:50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 6rem; */
    position: fixed;
    right: 14rem;

}

.nav-item-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 100%;
    
}

.nav-item{
    /* padding: 1rem 1.8rem; */
    padding: 1rem 2rem;
    font-size: 17px;
    font-weight: 400;
    height: 100%;
}

.nav-item a{
    text-decoration: none;
    color: white;
    /* color: black; */
}

.nav-item:hover{
    border-bottom: 3px solid white;
    cursor: pointer;
    font-weight: 600;
    color: white;
}

/* .link-list-button{
    padding: 1rem 0.6rem;
} */

.top-right{
    display: flex;
    padding-left: 0.6rem;
    width: 50%;
    position: fixed;
    right: -26rem;
}
.btn-login{
    width:5rem;
    /* padding: 1rem 0rem; */
    margin: 0rem 0.6rem;
    border-radius: 16px;
    height: 33px;
    border: none;
    outline: none;
    font-weight: 500;
    /* background-color: #efa933; */
    background-color: #0d7d46;
    color: white;
}

.btn-login:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #0d7d46;
}

.active {
    padding: 1.15rem;
    border-bottom: 3px solid white; 
    font-weight: 600;
    color: white;
    
}

/* i{
    color: white;
    height:100%;
    width: 50%;
} */