*{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar-parent {
    background-color: black;
    padding: 0rem 3rem;
    display: flex;
    align-items: center;
    height: 100px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
}

.logo-img {
    height: 50px;
}

.bars {
    display: none;
    color: #fff;
}

.navbar-links {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.nav-item-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    height: 100%;
}

.nav-item {
    margin: 0;
}

.navbar-item {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem;
    height: 100%;
    font-weight: 400;
}

.navbar-item:hover, .active {
    border-bottom: 4px solid white;
    color: white;
    font-weight: 600;
}

.top-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;
}

.btn-login {
    width: 5rem;
    background-color: #0d7d46;
    color: white;
    margin: 0rem 0.6rem;
    border-radius: 16px;
    height: 33px;
    border: none;
    outline: none;
    font-weight: 500;
}

.btn-login:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #0d7d46;
}

.fa-shopping-cart{
    color: white;
    height:100%;
    padding-left: 1.5rem;
}

.navbar-links-ham {
    z-index: 99999;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
}
.nav-item-list-ham {
    display: flex;
    flex-direction: column;
}

/* 768px */
/* hamburger */
@media screen and (max-width: 768px) {
    .bars {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 75%);
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navbar-links {
        display: none;
    }
}