.notif{
    display: flex;
    flex-direction: column;
}

.notif-text{
    display: flex;
    flex-direction: column;
    color: black;
    font-weight: 500;
    border-bottom: 1px solid black;
    padding: 0.2rem;
}

.notif-text:hover{
    background-color: white;
    border-radius: 5px;
}

#notif-date{
    color: black;
    font-size: 400;
}

.notif-ques-link{
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.notif-ques-link:hover{
    text-decoration: underline;
    color: black;
}