

.register-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95vh;
   
}
.rform-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.4rem;
    height: 100%;
    width: 70%;
}
.register-form-head{
    padding-top: 1.5rem;
    text-align: center;
}

.rform-label{
    
    width: 30%;
    
    margin:0.7rem;
    text-align: end;
    font-family: 'Kumbh Sans', sans-serif;
}

.rform-input{
    
    width: 70%;
    height: 2.5rem;
    padding-left: 0.5rem;
}

.rform{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.rform-div{
    display: flex;   
    align-items: center;  
    justify-content: center;
    margin: 0.2rem;
    width: 80%;
}

@media screen and (max-width:600px) {
    .rform-div{
        width: 100%;
    }
    .rform-label{
        display: none;
    }
    .rform-head{
        width: 100%;
    }
    .rform-input{
        width: 80%;
    }
}