* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.settings-main {
    width: 80vw;
    border: 2px solid red;
    margin-left: 20vw;
}

.dp-selection {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 1rem;
}
.dp-item {
    padding: 1rem;
}

.dp-item img {
    height: 100px;
    cursor: pointer;
}

.dp-selected {
    border: 2px solid red;
}