*{
    margin: 0px;
    padding: 0px;
}


.parent-shop{
    width: 80vw;
    margin-left: 20vw;

}

.parent-shop h1 {
    text-align: center;
    margin: 2rem;
}

.product-content {
    width: 100%;
    height: 80vh;
}


.product-cards {
    display: flex;
    padding: 1.5rem;
    width: 100%;
    
}

.card-img-top{
    height: 35vh;
    width: 90%;
}

.card:hover{
    transform: scale(1.1);
}


.card {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
    background-color: #E8F7FE;
    font-size: 1rem;
    margin: 1rem;
    height: 65vh;
    border-radius: 2rem;
}

.card-text{
    text-align: center;
}

.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width:1024px){
    .card{
        width: 50%;
    }
    .card:hover{
        transform: none;

    }
    .product-cards{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .card-title{
        text-align: center;
    }
}

@media screen and (max-width:767px) {
    .card{
        width: 70%;
    }
}

@media screen and (max-width:500px) {
    .card{
        width: 95%;
    }
}

@media screen and (max-width:376px) {
    .product-cards{
        padding: 0.8rem;
    }
    .card{
        width: 100%;
    }
}