:root {
    --bg: #D9D9D9;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 100px;
    --border: 1px solid #474a4d;
    --border-radius: 1rem;
    --speed: 500ms; 
  }

  .dropdown-tags {
    position: absolute;
    /* top: 15vh; */
    width: 150px;
    /* transform: translateX(-45%); */
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    /* padding: 1rem; */
    overflow: hidden;
    transition: height var(--speed) ease;
    z-index: 9999;
}

.tag-item-drop {
    cursor: pointer;
    /* border: 2px solid red; */
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 1rem;
}

.tag-item-drop:hover {
    background-color: #fff;
    color: black;
}

.tag-link-drop {
    text-decoration: none;
    color: black;
}

.tag-link-drop:hover {
    color: black;
}

/* .credit-user{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.buy-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.curr-credits{
    font-weight:500 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.credits{
    font-weight: 600;
    padding-left: 0.5rem;
}
.buy{
    font-weight: 500;
    width: 6.4rem;
    border-radius: 3rem;
    height: 2.5rem;
    color: black;
    outline: none;
    border: none;
    color: #F2F2F2;
    background-color: black;
    margin-top: 0.4rem;
    align-self: center;
}

.buy:hover{
    color: black;
    border: 2px solid black;
    background-color: white ;
}