.view-ans-main{
    width: 80vw;
    margin-left: 20vw;
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem 1.2rem 1.2rem;
}

.feedback-option{
    background: none;
    border: none;
    outline: none;
    
}

.star-border{
    color: yellow;
}

.ans-to-q{
    background-color: #E8F7FE;
    width: 95%;
    padding: 0.5rem;
    display: flex;
}

.feedback-rating{
    padding-top: 1rem;
    display: flex;
}

.rating-given{
    padding-left: 0.8rem;
}

.review{
    display: flex;
}
.rating{
    display: flex;
}
.star-layout{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}
.stars{
    padding-left: 0.5rem;
}

.transaction-success{
    display: flex;
}

.credits-left{
    font-weight: 600;
    padding: 0rem 0.5rem;
}
.transaction-status{
    display:flex;
}

.bg-mag{
    background-color: #652448;
    color: white;
}