.view-ans-main{
    width: 80vw;
    margin-left: 20vw;
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem 1.2rem 1.2rem;
}

.feedback-option{
    background: none;
    border: none;
    outline: none;
    
}

.star-border{
    color: yellow;
}